body {
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1194px;
	margin: 0 auto;
}
.header {
	display: flex;
	align-items: center;
	margin: 13px 0 0 0;
}
.header-logo {
}
.header-logo-img {
	width: 128px;
	height: 58px;
}
.search-form {
	display: flex;
	margin: 0 0 0 76px;
	background: rgba(238, 238, 238, 0.71);
	border-radius: 10px;
	max-width: 620px;
	flex-grow: 1;
	position: relative;
}
.search-input {
	background-color: transparent;
	border: none;
	width: 100%;
	padding: 13px 0 13px 20px;
}
.search-button {
	background-color: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 0 13px 0 0;
	cursor: pointer;
}
.search-icon {
}
.login {
	margin-left: auto;
	background: #ebebeb;
	border-radius: 50px;
	padding: 16px 30px 16px 30px;
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.login-text {
	text-decoration: none;
}

.shipping-cart {
	position: relative;
	width: 50px;
	height: 50px;
	background: #f66a15;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 0 30px;
	text-decoration: none;
}

.shopping-counter {
	background: #ffaf19;
	padding: 5px;
	font-size: 8px;
	line-height: 9px;
	color: #000000;
	text-decoration: none;
	display: block;
	border-radius: 50%;
	position: absolute;
	right: 0;
	bottom: 0;
}
.slider {
	margin: 0 0 50px 0;
}
.slide {
	border-radius: 20px;
	min-height: 400px;
	display: flex;
	align-items: center;
	padding: 0 0 0 100px;
	position: relative;
	overflow: hidden;
}
.slide-text-light {
	background-color: grey;
	color: #fff;
}
.slide-content {
	max-width: 400px;
	position: relative;
}
.slidetitle {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 50px;
	line-height: 51px;
	color: #ffffff;
}
.slidetext {
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	margin: 0 0 32px 0;
}
.sledebutton {
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;
	text-decoration: none;
	padding: 11px 50px;
	display: inline-block;
	border-radius: 25px;
}
.button-primary {
	background: #f47322;
	color: #fff;
}
.slide-summer {
	background-image: url(../img/summer.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.slide:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
}
.card {
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	padding: 32px;
	max-width: 570px;
	min-height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-light {
	color: #fff;
}
.card:before {
	z-index: -1;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
}

.card-header {
}
.card-title {
	font-size: 24px;
	line-height: 23px;
}
.card-description {
	font-size: 16px;
	line-height: 23px;
}
.card-footer {
}
.card-price {
	font-size: 24px;
	line-height: 23px;
}
.card-delivery {
	font-size: 16px;
	line-height: 23px;
}
.button {
	display: block;
	font-size: 16px;
	line-height: 23px;
}
.button-default {
}
